html,
body {
  background-color: #ffeead;
  margin: 10px;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.container {
  height: 100%;
  display: grid;
  grid-template: 50px auto 50px / repeat(12, 1fr);
  grid-template-areas: 
  "m m m . h h h h h h h ."
  "m m m c c c c c c c c c"
  "f f f f f f f f f f f f";
}
.container > div:nth-child(1n) {
  background-color: #1b5243;
}

.container > div:nth-child(3n) {
  background-color: #118ab2;
}

.container > div:nth-child(2n) {
  background-color: #ef476f;
}

.container > div:nth-child(4n) {
  background-color: #ffd166;
}

.header {
  grid-area: h;
}
.menu {
  grid-area: m;
}
.content {
  grid-area: c;
}
.footer {
  grid-area: f;
}
